<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Yahoo Weather</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

</head>
<body>
  <div class="viewport">

    <form class="search-weather" method="get">
      <label for="">The weather in:</label>
      <input type="text" class="weatherAt">
      <button type="submit" class="submitBtn" name="button">Go</button>
    </form>

    <div class="weather_stats">
      <div class="flex-cont">
        <div id="weather_text"></div>
        <div class="highslows">
          <div id="high_temp"></div>
          <div id="low_temp"></div>
        </div>
        <div id="current_temp"></div>
      </div>



    </div>



    <div>
    </body>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/main.js"></script>
    </html>
